
.btn-upload {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0.5rem;
    border-radius: 0 0.25rem 0.25rem 0;
}
.btn-remove {
    position: absolute;
    right: 3rem;
    height: 100%;
    padding: 0.5rem;
}