<div class="h-100 dashboard-container">
  <app-dochub-header></app-dochub-header>
  <div class="main-content h-100">
    <mat-sidenav-container class="home-container h-100">
      <mat-sidenav-content
        class="dashboard-col"
      >
        <div class="dashboard-content raised-section">
          
          <div class="section-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <div *ngIf="!opened" class="menu-cloud"><mat-icon (click)="openMenu()">list</mat-icon></div>
  </div>
</div>
