.mat-dialog-content-sm {
  display: block;
  margin: 0;
  padding: 0 5px;
  max-height: 40vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mat-dialog-content-m-sm {
  display: block;
  margin: 0;
  padding: 0 5px;
  max-height: 50vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mat-dialog-content-md {
  display: block;
  margin: 0;
  padding: 0 5px;
  max-height: 60vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mat-dialog-content-lg {
  display: block;
  margin: 0;
  padding: 0 5px;
  max-height: 75vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mat-dialog-content-elg {
  display: block;
  margin: 0;
  padding: 0 5px;
  max-height: 81vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mat-dialog-content-full {
  display: block;
  margin: 0;
  padding: 0 5px;
  max-height: 91vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
