<header class="dochub-header">

  <div class="header-container">
    <!-- Logo -->
    <div class="logo" (click)="navigateToHomePage()">
      <h1>Dochub</h1>
    </div>

    <!-- Navigation & Profile -->
    <div class="profile-section">
      <button class="button-group search-button" mat-button (click)="navigateToSearch()">
        <mat-icon>search</mat-icon>
        <span class="button-text">Tìm kiếm</span>
      </button>
      <button class="button-group create-document-button" mat-raised-button (click)="navigateToCreateDocument()">
        <mat-icon>add</mat-icon>
        <span class="button-text">Tạo tài liệu</span>
      </button>
      <button class="button-group logout-button" mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="button-text">Đăng xuất</span>
      </button>
    </div>
  </div>
</header>
