<div fxLayout="row wrap" fxFlex="100" class="ml-5px mr-5px" *ngIf="visible; else false">
    <div  *ngIf="label != '' && flexLabel !=0" class="form-group label" [fxFlex.gt-xs]="flexLabel" [fxFlex.gt-sm]="flexLabel" fxFlex="100">
        <label for="{{label}}" [style.font-weight]="boldLabel" [style.color]="colorLabel">{{label}}<span *ngIf="required" class="required">*</span>
        </label>
      </div>
      <div class="form-group bpm-drop-down" [fxFlex.gt-xs]="flexInput" [fxFlex.gt-sm]="flexInput" fxFlex="100">
        <mat-select
            #name="ngModel"
            #selectElement
            id="{{id}}"
            [(ngModel)]="model"
            class="form-control"
            [ngClass] = "{'form-error': name.errors && name.invalid && (name.dirty || name.touched)}"
            [multiple]="multiple || false"
            [required]="required || false"
            [disabled]="(disabled===true || false)"
            [placeholder]="placeholder || '---Chọn---'"

            (selectionChange)="ngOnChange($event)"
            (blur)="ngOnBlur($event)"
            (keyup)="ngOnKeyUp($event)"
            (openedChange)="openChange($event)"
        >
        <!-- <mat-option [disabled]="multiple==true">----Select option----</mat-option> -->
        <!-- <cdk-virtual-scroll-viewport
        [itemSize]="5"
        minBufferPx="200"
        maxBufferPx="400"
        [style.height.px]="options.length * 36"
        class="options-container">      -->
            <mat-option *ngIf="multiple!=true">---Chọn---</mat-option>
            <mat-option *ngFor="let opt of optionsLocal; let i = index" [value]="opt.value">
                {{ opt.text }} 
            </mat-option>
            <!-- </cdk-virtual-scroll-viewport> -->
        </mat-select>
        <!-- <mat-icon *ngIf="name.value && !name.disabled" class="close-btn" (click)="removeValue()">close</mat-icon> -->
    </div>    
    <div fxLayout="row wrap" fxFlex="100" *ngIf="name.invalid && (name.dirty || name.touched)">
      <div [fxFlex.gt-xs]="flexLabel" [fxFlex.gt-sm]="flexLabel" fxFlex="100"></div>
      <div [fxFlex.gt-xs]="flexInput" [fxFlex.gt-sm]="flexInput" fxFlex="100" fxFlexAlign="center">
          <div *ngIf="name.errors?.required" class="form-error-message">
              {{'Vui lòng chọn ' + (label || placeholder || requiredStr )}}
          </div>
      </div>
    </div> 
</div>