<div>
  <div fxLayout="column" fxLayout.gt-xs="row wrap">
    <div fxFlex="100">
      <div class="bpm-dialog-title">{{data?.title}}</div>
    </div>
  </div>
  <div fxLayout="column" fxLayout.gt-xs="row wrap" class="bpm-dialog-content">
    
    <div fxFlex="100" fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="start" *ngIf="data?.content"
      class="dialog-content" [innerHTML]="data?.content">
      <!-- {{data?.content}} -->
    </div>

    <div fxFlex="100" fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="end">

      <ng-container *ngIf="data?.type === dialogType.CONFIRM">
        <bpm-button text="Confirm" type="mat-raised" color="primary" size="sm" (click)="onConfirmClick()">
          Confirm
        </bpm-button>
        <bpm-button text="Cancel" type="mat-stroked" size="sm" (click)="onCancelClick()">
          Cancel
        </bpm-button>
      </ng-container>

      <ng-container *ngIf="data?.type === dialogType.CUSTOMIZE">
        <button mat-raised-button color="primary" size="sm" (click)="onConfirmClick()" style="margin-right: 20px;">{{ data?.titleConfirm }}</button>
        <button mat-raised-button size="sm" (click)="onCancelClick()">{{ data?.titleCancel }}</button>
      </ng-container>

      <ng-container *ngIf="data?.type === dialogType.SUCCESS">
        <bpm-button text="Ok" type="mat-raised" color="primary" size="sm" (click)="onConfirmClick()">
          Ok
        </bpm-button>
      </ng-container>

      <ng-container *ngIf="data?.type === dialogType.ERROR">
        <bpm-button text="Close" type="mat-raised" color="warn" size="sm" (click)="onCancelClick()">
          Close
        </bpm-button>
      </ng-container>

    </div>
  </div>
</div>